body {
    margin: 0;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 220px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 {
    margin: 5px;
}

.sidebar {
    width: 140px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 20px;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Small gap between items */
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.card {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card.active {
    display: block;
}

input[type="text"], select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    /* Prevent resizing on the x-axis */
}

button {
    display: block;
    margin-top: 0px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#vaccination-list div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 45px;
    padding-left: 10px;
}

#vaccination-list div span {
    flex: 1;
}

#vaccination-list div button {
    margin-top: 0px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#vaccination-list div button:hover {
    background-color: #c82333;
}


#new-vaccine, #vaccine-date {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


@media (max-width: 900px) {
    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
}