body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    /* Veranderd naar column voor betere layout */
    flex: 1;
    padding-left: 220px;
    /* Maak ruimte voor de sidebar */
}

.sidebar {
    width: 150px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
    /* Zorg ervoor dat de sidebar boven andere elementen ligt */
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.card {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card.active {
    display: block;
}

input[type="text"], select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}