body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 220px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar {
    width: 150px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.card {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card.active {
    display: block;
}

input[type="text"], select, textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    /* Prevent resizing on the x-axis */
}

button {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#vaccination-list div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 45px;
    /* Gap between vaccination items */
}

#vaccination-list div span {
    flex: 1;
}

#vaccination-list div button {
    margin-top: 0px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    width: 30px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#vaccination-list div button:hover {
    background-color: #c82333;
}


#new-vaccine, #vaccine-date {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}