/* Algemene stijl */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.card {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid black;
    border-radius: 6px;
}

.card h2 {
    color: black;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}